#cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 10px;
}

.card {
    width: 200px;
    height: 200px;
    text-align: center;
    background: wheat;
}

.basic-card {
background: blueviolet;
padding: 10px;
}